<%- include('../includes/head.ejs')%>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <%- include('../includes/navigation.ejs')%>

    <main class="m">
        <form action="/admin/add-product" method="post" >
            <label for="title">title </label>
            <input type="text" name="title">
            <label for="imageurl">imageurl</label>
            <input type="text" name="imageurl">
            <input type="number" name="price">
            <textarea name="discription" id="" rows="5"></textarea>
            <button type="submit">Add product</button>
        </form>
    </main>
</body>
</html>