extends main_layout.pug

block styles 
    link(rel="stylesheet", href="/styles.css")

block content
    main 
        if prods.length > 0
            .grid 
                each product in prods
                    article.card.product_item
                        header.card_header 
                        h1.product_title #{product.title} 
                        div.card_image
                            img(src="https://images.pexels.com/photos/3225517/pexels-photo-3225517.jpeg?auto=compress&cs=tinysrgb&w=400" , alt="A Book")
                        .card_content 
                            h2.product_price $19.99
                            p.product_description A very intresting book about so many even 
                        .card_actions 
                            button.btn Add to cart   
        else 
            h1 No Products 


//- doctype html
//- html(lang="en")
//-     head
//-         meta(charset="UTF-8")
//-         meta(name="viewport", content="width=device-width, initial-scale=1.0")
//-         title #{doctitle}
//-         link(rel="stylesheet", href="/styles.css")
//-     body 
//-         header.main-class 
//-             nav.main-nav 
//-                 ul.listss 
//-                     li.item 
//-                         a.active(href="/") shop 
//-                     li.item 
//-                         a(href="/admin/add-product")  Add product
//-         main 
//-             if prods.length > 0
//-                 .grid 
//-                     each product in prods
//-                         article.card.product_item
//-                             header.card_header 
//-                             h1.product_title #{product.title} 
//-                             div.card_image
//-                                 img(src="https://images.pexels.com/photos/3225517/pexels-photo-3225517.jpeg?auto=compress&cs=tinysrgb&w=400" , alt="A Book")
//-                             .card_content 
//-                                 h2.product_price $19.99
//-                                 p.product_description A very intresting book about so many even 
//-                             .card_actions 
//-                                 button.btn Add to cart   
//-             else 
//-                 h1 No Products 
                            
